@*<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" Title="Buffalo New York Tourism" AutoEventWireup="true"  CodeFile="Default.aspx.cs" Inherits="_Default" CodeFileBaseClass="BasePage"
    Meta_Keywords=" City of Good Neighbors, City of Light, Queen City, Nickel City and Chicken Wing
                              Capital"

    Meta_Description="COME TO BUFFALO NY AND HAVE A GOOD TIME !!! EAT DINING FOOD GALORE BUFFALO NY HAS LOTS TO OFFER POTENTIAL TOURISTS "*@

@*%>*@
@*<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        BUFFALO NY TOURISM
    </title>
    <meta name="keywords" content="MUSIC EVENTS AND FESTIVALS Tourism, New York, airport, bills, sabres,Canada, Fun,entertainment, events " />
    <meta name="description" content="Buffalo NY, goo goo dolls, Goo Goo Dolls, sports,Hotel, New York, Goo Goo Dolls, Hotel dining, Tourism,Buffalo, RICK JAMES, ANI DEFRANCO, GOOS, BILLY SHEEHAN, BUFFALO MUSIC AND CANADIAN MUSIC" />
</head>
<body>
    <table style="width: 856px">
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td colspan="3">
                <h1>
                    <strong>
                        City of Good Neighbors, City of Light, Queen City, Nickel City and Chicken Wing
                        Capital
                    </strong>
                </h1>
            </td>
        </tr>


        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td>
                <asp:BulletedList ID="BulletedList1" runat="server" BulletStyle="Square" OnClick="BulletedList1_Click" CssClass=".datarow" Font-Bold="True">
                    <asp:ListItem>One of the most important U.S. cities, at one time it was the  8th largest in the nation!   Buffalo is only second to the Big Apple in New York State!  Buffalo  possesses  a very intelligent, fun loving and hard working crowd that has much to offer.</asp:ListItem>
                    <asp:ListItem>With a renewed interest and a thriving economy Buffalo has become the place to live with one of the lowest cost of living as rated by Forbes Magazine.  Buffalo also has much of the best to offer in music, arts, sports, and a melting pot of culture.</asp:ListItem>
                    <asp:ListItem>Geographically blessed, located on beautiful Lake Erie just 90 minutes from Canada's largest city of  Toronto and a one hour plane trip from New York City for just under $100 makes it great for National and International tourism.  With boundless potential just waiting to be explored, in this one great place.</asp:ListItem>
                    <asp:ListItem>Buffalos' waterfront was once a great port and industrial powerhouse, is slowly making the transition to a touristy place.  It's ideal for boating, recreation and entertainment. </asp:ListItem>
                    <asp:ListItem> Buffalo recently played host to the Bass fisherman's' competition with many of the fisherman coming from long distances to fish.  Several were quoted as saying the fishing here is the best small mouth they have ever seen, one fisherman from Japan called it the 'Best in the World'.</asp:ListItem>
                </asp:BulletedList>
            </td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td>
                <p class=".datarow">
                    <strong>
                        Buffalo has also been rated by Forbes as the #1 Best City for Commuters in the U.S.A.
                        see article here <a href="http://www.forbes.com/2008/04/24/cities-commute-fuel-forbeslife-cx_mw_0424realestate.html">
                            Best Commutes.
                        </a>
                    </strong>
                </p>
            </td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td class=".table">
                <p class=".datarow">
                    <strong>
                        Cnn/Money has rated Buffalo New York as 5th fastest growing real estate market in
                        the county! <a href="http://money.cnn.com/galleries/2008/moneymag/0805/gallery.resg_gainers.moneymag/"></a>
                    </strong>
                </p>
            </td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td></td>
            <td style="width: 23px"></td>
        </tr>
        <tr>
            <td style="width: 29px"></td>
            <td>
                <p>
                    <b>
                        These are my points of
                        interest as a lifelong born and raised&nbsp; Buffalonian and dedicated supporter.&nbsp;
                        Let me show you what I like and I am sure you will find some great things about
                        this great city. Come visit us in Buffalo!
                    </b>
                </p>
            </td>
            <td style="width: 23px"></td>
        </tr>
    </table>

    @*</asp:Content>*@
</body>
</html>